## PANDAS

In [16]:
import pandas as pd
import numpy as np

### Series de pandas
    pd.series()

In [17]:
numeros = [3,4,5,6,7] #lista
serie = pd.Series(numeros) #Las series tienen indices
serie, type(serie) #esto es un print con su tipo de dato

(0    3
 1    4
 2    5
 3    6
 4    7
 dtype: int64,
 pandas.core.series.Series)

### Generar un dataframe a partir de un diccionario
    pd.DataFrame(data=)

In [18]:
# Un diccionario para luego convertirlo en DataFrame
# dataframe es que tenga indice,filas y columnas
# debe cumplir la mayuscula y minuscula pd.DataFrame
datos = {
    "nombre": ["juan", "mauricio", "naiara"],
    "edad": [28,24,21],
}
datos, type(datos)

df = pd.DataFrame(data=datos)
df

     nombre  edad
0      juan    28
1  mauricio    24
2    naiara    21

## Exportar/importar un dataframe a otro tipo de archivo
    df.to_csv(" ")
    pd.read_csv(" ")

In [19]:
#Exportar un dataframe a otro tipo de archivo
df.to_csv("datos.csv") 
#Importar un dataframe
import_df = pd.read_csv("datos.csv", index_col=0) #index_col es para que no traiga una columna de mas por defecto
import_df

     nombre  edad
0      juan    28
1  mauricio    24
2    naiara    21

## Seleccionar columna/s, filtrar por filas (indices)
    df["columna"]
    df.loc[indice]

In [20]:
#seleccionar una columna
nombres = df["nombre"]
print(nombres)
#seleccionar una o mas columnas
df[["nombre","edad"]] #doble corchete
#filtrar por fila (indice)
fila = df.loc[2] #debo poner el numero del indice de fila que quiero llamar
fila

0        juan
1    mauricio
2      naiara
Name: nombre, dtype: object

nombre    naiara
edad          21
Name: 2, dtype: object

### filtrar por condicion
    df[df["columnas"] == "condicion]
    df[df["columna].isin([])] 
    df[df["columna].between(n,n1)] 
    df.query(columna > n) 
    df[df["columna].apply]

In [21]:

df[df["edad"] == 21] #puede usar mayor menor igual distinto 

#doble condicion
filtro = (df["edad"] == 21) & (df["nombre"].str.startswith("n")) #crear variable y separar entre ()
df[filtro] 

# esta en. sirve para filtrar existencias en un dataframe a travez de una lista para que seleccione con .isin([])
df[df["nombre"].isin(["naiara", "mauricio", "carlos"])] #mostrara los existentes e ignora los que no existen
#esta entre. sirve para filtrar grupos entre un valor y otro con .between(valor_menor,valor_mayor) inclusive
df[df["edad"].between(24,28)]

#filtrar por query con .query()
df.query("edad > 23")
#aplicar funciones a un dataframe con .apply()
def longitud_mayor6(nombre):
    return len(nombre) > 6

df[df["nombre"].apply(longitud_mayor6)]
#nuevo dataframe con valores faltantes a travez de numpy. np.nan para numeros. None para strings
datos1 = {
    "nombre": ["juan", "mauricio", None, "naiara"],
    "edad": [28,24,np.nan,21]
}
df1 = pd.DataFrame(datos1)
df1

     nombre  edad
0      juan  28.0
1  mauricio  24.0
2      None   NaN
3    naiara  21.0

### rellenar/eliminar/reemplazar/interpolar valores
    df.fillna({})
    df.dropna()
    df.replace({})
    df.copy()
    df.interpolate()
    df.drop_duplicates()
    df.rename({"columna": "nuevo_nombre"})

In [14]:
#rellenar los valores faltantes con .fillna([])
# .mean() usa un promedio de los valores totales
df1_fill = df1.fillna(
    {
    "edad": df["edad"].mean(),
    "nombre": "Desconocido"
    }
)
df1_fill
#Eliminar filas con valores faltantes, o nulos con .dropna()
df1_sin_nulos = df1.dropna()
df1_sin_nulos
#reemplazar valores para que no queden nulos o simplemente cambiar su valor .replace({clave : {valor_antiguo:valor_nuevo}})
df1_reemplazado = df1.replace(
    {
    "nombre": { "mauricio" :"valor nuevo", None: "desconocido"}
    }
)
df1_reemplazado
#interpolar valores. es como el promedio pero mas exacto cuando no existen numeros muy altos o bajos que cambien el resultado
# primero usar un .copy() del dataframe original
# luego usar df[].interpolate()
#funciona con datos numericos. no con str
df1_interpolado = df1.copy()
df1_interpolado["edad"] = df1_interpolado["edad"].interpolate()
df1_interpolado

#crear dataframe con duplicados
datos_duplicados = {
    "nombre": ["juan", "mauricio", "juan", "naiara"],
    "edad": [28,24,28,27]
}
df_duplicado = pd.DataFrame(datos_duplicados)
df_duplicado
#eliminar duplicados. para que lo tome como duplplicado tiene que repetirse ambas columnas, si se repite el nombre pero no la edad no lo toma como repetido
df_sin_duplicados = df_duplicado.drop_duplicates()
df_sin_duplicados

#renombrar columnas. cambiar su nombre o definicion
# nueava variable = antigua.rename(columns={"valor_antiguo":"valor_nuevo"})
df1_renombrado = df1.rename(columns={"nombre":"Name","edad":"Age"})
df1_renombrado

     nombre  edad
0      juan  28.0
1  mauricio  24.0
2      None  22.5
3    naiara  21.0

### ordenar/agregar/agrupar/calcular/concatenar columnas y datos
    df.groupby("")
    df.agg({})
    df.apply(funcion)
    df.concat([])

In [ ]:
#ordenar las columnas
ordenado = ["edad","nombre"]
df1_ordenado = df1[ordenado]
df1_ordenado
#agregar una columna que modifica a otra columna
def doble(edad):
    return edad *2

df1["doble_edad"] = df1["edad"].apply(doble)
df1
puntuaciones = {
    "nombre": ["juan", "mauricio", "naiara", "nuevo"],
    "edad": [28,24,21,24],
    "puntuaciones": [55,100,90,30]
}
df3 = pd.DataFrame(puntuaciones)
#Agrupar datos (por ej. por edad)
agrupado_1 = df3.groupby("edad") #la edad x: [indicex,indice1], x1: [indice2,indice3]
agrupado_1.groups
#calcular la suma o promedios en un agrupado de datos df.agg({"clave":"calculo", "clave":"calculo"})
df3.agg(
    {
    "edad": "mean", #promedio
    "puntuaciones": "sum", #suma
    }
)


#otra forma de clacular sumas pero de manera individual es: df["clave"].agg("calculo")
df3["puntuaciones"].agg("mean") #promedio

#definir una funcion para calcular agrupados
def rango(serie):
    return serie.max() - serie.min()

rango_agrupado = df3.agg({
    "edad":rango,
    "puntuaciones": rango
})

rango_agrupado
                                         
#agregar una columna al dataframe lista[nueva_columna]= [nuevos_valores,x1,x2,x3]
puntuaciones["categorias"] = ["A", "B", "A", "B",]
df4 = pd.DataFrame(puntuaciones)

#agregar una fila al df 
#creamos una serie que sera la fila con pd.Series({"columna":"valor",})
nueva_fila = pd.Series({
    "edad":18,
    "nombre": "pendejito",
    "puntuaciones": 99,
    "categorias": "C"
})
#la tranformamos en un df con pd.concat([df,nueva_fila.to_frame().T]) que combina los datos nuevos con el frame que queremos agregar
#.to_frame es porque es una serie y la transformamos en un dataframe
#.T es para transponer los datos 
#ignore index es para que no se repitan los indices, si no sale en 0 su indice
df4 = pd.concat([df4, nueva_fila.to_frame().T], ignore_index=True)   
df4       
#combinar dataframes
df_combinado = pd.concat([df3,df4],ignore_index=True)
df_combinado
#a diferencia del agrupado_1 para meter mas agrupaciones: el groupby([x1,x2]) es una lista [,]
agrupado_2 = df4.groupby(["edad","categorias"])
agrupado_2.groups

#agrupacion multinivel
agrupado_2.agg({
    "puntuaciones":"mean",
})